@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400&family=Poppins:wght@300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
   font-family: 'Lato', sans-serif;
   font-family: 'Poppins', sans-serif;
}
.header{
    background: #000000ab;
    transition: ease-in 1s;
}
.underline-hover::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    transition: width 0.3s ease-in;
    margin-top: 2px;
  }
.underline-hover:hover::after {
    width: 100%;
}
.fit{
    color: rgba(255, 255, 255, 0.11);
    font-size: 109px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    display: flex;
    height: 170px;
    align-items: flex-start;
    gap: 10px;
}
.fitnes{
    transform: rotate(-90deg);
    position: absolute;
    left: -220px;
    top: 180px;
    z-index: 0;
}
.program{
    font-size: 80px;
    position: absolute;
    left: -59px;
    top: -52px;
    z-index: 0;
}
.imgMain{
    position: absolute;
    z-index: 100;
}
.center{
    background: #000;
}
.slick-slide > div{
    margin: 0 10px;
}
.Unleash{
    background-image: url('./assets/Rectangle.png');
    background-position: center;
    background-size: cover;
}
.center-slide{
    background-color: #097FD9;
}
.slide-active{
    background-color: #097FD9;
}
.swiper {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
  
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: px;
    height: 100%;
    object-fit: cover;
}

.imgeSlide{
    width: 100%;
    height: 400px !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.swiper-pagination-bullet{
    background-color: #fff !important;  
} 
.swiper-pagination-bullet-active{
    background-color: #097FD9 !important;
}
.transforPrice {
    transform: scale(1.1);
    position: relative;
    overflow: hidden; /* This will hide any content that goes beyond the container */
}
.transforPrice > .transforPricePARA{
    transform: rotate(44deg);
    top: 1;
    position: absolute;
    top: 5px;
    right: -59px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: bold;
    font-size: 17px;
}
.slick-dots > li > button:before{
    color: #fff !important;
}
/* .slick-arrow {
    display: none !important;
} */
.swiper-pagination-bullet{
    display: none;
    width: 5px !important;
    height: 5px !important;
}
.swiper-pagination-bullet-active{
    background-color: rgb(190, 183, 183) !important;
}
.slick-dots {
    bottom: -51px !important
}
.Basic_Package{
    border-radius: 10px 0 10px 0;
}

/* .swiper-button-disabled{
    display: none !important;
}
    .slick-active{
        background-color: #097FD9 !important;
} */

.contactPage{
    background-image: url('./assets/Rectangle2.png');
    background-position: center;
    background-size: cover;
}
